..ghci.un~
..gitignore.un~
.Fs.hs.un~
.ghci~
.gitignore~
.InterComp.hs.un~
.Main.hs.un~
.Newton.hs.un~
.Parsing.hs.un~
.Performs.hs.un~
.Refinement.hs.un~
Fs.hs~
InterComp.hs~
Main.hs~
Newton.hs~
Parsing.hs~
Performs.hs~
Refinement.hs~
