..ghci.un~
..gitignore.un~
.Fs.hs.un~
.ghci~
.gitignore~
.InterComp.hs.un~
.Main.hs.un~
.Newton.hs.un~
.Parsing.hs.un~
.Performs.hs.un~
.Refinement.hs.un~
Fs.hs~
InterComp.hs~
Main.hs~
Newton.hs~
Parsing.hs~
Performs.hs~
Refinement.hs~
dels.txt
Fs.hi
InterComp.hi
Main.hi
Newton.hi
Parsing.hi
Performs.hi
Fs.o
InterComp.o
Main.o
Newton.o
Parsing.o
Performs.o
Refinement.o
Refinement.hi
Main.exe
.Fuck.hs.un~
Fuck.hs
Fuck.hs~
.ghci
tags
__pycache__
