..gitignore.un~
.Fs.hs.un~
.gitignore~
.Main.hs.un~
.Newton.hs.un~
.Parsing.hs.un~
.Performs.hs.un~
.Refinement.hs.un~
.Test.hs.un~
Fs.hs~
Main.hs~
Newton.hs~
Parsing.hs~
Performs.hs~
Refinement.hs~
Test.hs
Test.hs~
